<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Task2</display-name>

	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>ua.nure.serdiuk.Task2.web.Controller</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/controller</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LocaleServlet</servlet-name>
		<servlet-class>ua.nure.serdiuk.Task2.web.LocaleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LocaleServlet</servlet-name>
		<url-pattern>/locale</url-pattern>
	</servlet-mapping>

	<!-- <jsp-config> <jsp-property-group> <url-pattern>/*</url-pattern> <page-encoding>utf-8</page-encoding> 
		</jsp-property-group> </jsp-config> -->

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/WEB-INF/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/error404.jsp</location>
	</error-page>

	<!-- Filters listeners -->

	<filter>
		<filter-name>LocaleFilter</filter-name>
		<filter-class>ua.nure.serdiuk.Task2.web.filter.LocaleFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LocaleFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>ua.nure.serdiuk.Task2.web.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>Access Filter</filter-name>
		<filter-class>ua.nure.serdiuk.Task2.web.filter.AccessFilter</filter-class>
		<init-param>
			<param-name>adminAccess</param-name>
			<param-value>addUser addUserView</param-value>
		</init-param>
		<init-param>
			<param-name>userAccess</param-name>
			<param-value>adminView editUser editUserView</param-value>
		</init-param>
		<init-param>
			<param-name>commonAccess</param-name>
			<param-value>login logout loginView accessDeniedView errorView noCommand</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Access Filter</filter-name>
		<servlet-name>Controller</servlet-name>
	</filter-mapping>

	<listener>
		<listener-class>ua.nure.serdiuk.Task2.web.listener.ContextListener</listener-class>
	</listener>

	<!-- -->

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>